<div><body style="background-color:#FAEBD7;text-align:center"><h1 style="text-align: center ; "> Centralised Log Service </h1>
</body></div>
<h2 style="text-align:left;"> Please select any one of the options below </h2>
<div><h2 style="text-align:left;"><a href="/centralised_log/querying_logs/">1. Query Logs </a></h2></div>
<div><h2 style="text-align:left; "><a href="/centralised_log/prompt_to_upload_log/"> 2. Save Logs </a></h2></div>