<div class="sidebar" style="position: fixed;width: 200px;padding 200px ; line-height: 40px;background:  pink;">
<div> Available Columns </div>
<% @column_names.each do |column| %>
	<div> <%= column %> </div>
<% end %>
</div>
<div style="margin : 200px; text-allign : right">
<form >
   SQL query: <input type="text" name="sql_query"><br>
  <input type="submit" value="Query">
</form>
</div>
<div>
<% if @records_array.present? 
@records_array.each do |p| %>
	<%= p %>
<% end %>
<% end %>
</div>